<script src='https://cdnjs.cloudflare.com/ajax/libs/tone/13.8.12/Tone.js'></script>

<body>
  <div id='pad1' (click)='pad1()'></div>
  <div id='pad2' (click)='pad2()'></div>
  <div id='pad3' (click)='pad3()'></div>
  <div id='pad4' (click)='pad4()'></div>
  <div id='pad5' (click)='pad5()'></div>
  <div id='pad6' (click)='pad6()'></div>
  <div id='pad7' (click)='pad7()'></div>
  <div id='pad8' (click)='pad8()'></div>
  <div id='pad9' (click)='pad9()'></div>
  <div id='pad10' (click)='pad10()'></div>
  <div id='pad11' (click)='pad11()'></div>
  <div id='pad12' (click)='pad12()'></div>
</body>